body {
  font-family: "Roboto";
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}



a {
  color: #757575;
  text-decoration: none;
  &:hover {
    color: #2196f3;
  }
}
